.login-container {
      min-width: 400px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: cadetblue;
  
      .login-form {
          width: 420px;
          background-color: hsl(0deg 0% 100% / 80%);
          padding: 50px 40px 45px;
          border-radius: 10px;
          box-shadow: 2px 3px 7px rgb(0 0 0 / 20%);
  
          // height: 94%;
          .login-logo {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 45px;
  
              .logo-text {
                  padding: 0 0 0 25px;
                  margin: 0;
                  font-size: 42px;
                  font-weight: bold;
                  color: #34495e;
                  white-space: nowrap;
              }
          }
          .el-form-item {
              margin-bottom: 40px;
          }
      }
  }
  